/bases/*.vdb
/bases/drweb32.dll
/bases/drweb32.lst
/main
/DRW_ESS6.zip
/repository/10-drwbases/common/*.vdb
/repository/10-drwbases/common/drweb32.dll
/repository/10-drwbases/common/drweb32.lst
/main.exe
